In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../output/obiettori.csv')

In [4]:
df

                              nome_azienda  totale  obiettori  anno_id  anno
0    AZIENDA OSPEDALE - UNIVERSITA' PADOVA      25         20        1  2015
1                 AOUI VERONA BORGO TRENTO      14         13        1  2015
2                AOUI DI VERONA BORGO ROMA      13          8        1  2015
3    AZIENDA OSPEDALE - UNIVERSITA' PADOVA      26         22        2  2016
4                 AOUI VERONA BORGO TRENTO      10          8        2  2016
..                                     ...     ...        ...      ...   ...
192                    OSPEDALE DI LEGNAGO      10          5        8  2022
193              OSPEDALE DI SAN BONIFACIO      12          9        8  2022
194                OSPEDALE DI VILLAFRANCA      13         10        8  2022
195  AZIENDA OSPEDALE - UNIVERSITA' PADOVA      21         16        8  2022
196               AOUI VERONA BORGO TRENTO      26         20        8  2022

[197 rows x 5 columns]

In [6]:
# Filter out 2015 and 2016
df_filtered = df[~df['anno'].isin([2015, 2016])]

# Group by year and calculate totals
yearly_totals = df_filtered.groupby('anno').agg({
    'obiettori': 'sum',
    'totale': 'sum'
}).reset_index()

# Calculate the percentage
yearly_totals['percentuale_obiettori'] = (yearly_totals['obiettori'] / yearly_totals['totale'] * 100).round(1)

# Sort by year and display
yearly_totals = yearly_totals.sort_values('anno')

In [7]:
yearly_totals

   anno  obiettori  totale  percentuale_obiettori
0  2017        304     411                   74.0
1  2018        272     387                   70.3
2  2019        247     378                   65.3
3  2020        241     362                   66.6
4  2021        247     357                   69.2
5  2022        222     326                   68.1